@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?tomleg');
    src:  url('../fonts/icomoon.eot?tomleg#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?tomleg') format('truetype'),
      url('../fonts/icomoon.woff?tomleg') format('woff'),
      url('../fonts/icomoon.svg?tomleg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
.style_red {
    color: #c40000;
}
.arrow_down::after {
    font-family: 'icomoon';
    content: "\e91e";
    margin: 2px 0 0 5px;
}
.w {
    width: 1200px;
    margin: 0 auto;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.shoutcut {
    height: 31px;
    background-color: #f1f1f1;
    font-size: 12px;
    color: #666666;
    text-align: center;
    line-height: 31px;
}
.shoutcut ul li {
    float: left;
}
.shoutcut .fr li:nth-child(even) {
    height: 12px;
    width: 1px;
    margin:9px 15px 0;
    background-color: #666666;
}
.header {
   position: relative;
   height: 105px;
}
.header .logo {
    position: absolute;
    left: 0;
    top: 26px;
    width: 171px;
    height: 61px;
    background: url(../images/logo.png) no-repeat;
}
.logo a {
    display: block;
    width: 171px;
    height: 61px;
    font-size: 0;
}
.search {
    position: absolute;
    top: 25px;
    left: 346px;
    width: 540px;
    height: 36px;
    border: 2px solid #c40000;
}
.search input {
    float: left;
    width: 454px;
    height: 32px;
    padding-left: 15px;
}
.search button {
    float: left;
    width: 82px;
    height: 32px;
    font-size: 16px;
    color: #fff;
    background-color: #c40000;
}
.keywords {
    position: absolute;
    top: 54px;
    left: 346px;
    height: 26px;
    line-height: 26px;
    text-align: left;
}
.keywords ul li {
    float: left;
    padding: 8px 24px 0 0;
}
.shopcar {
    position: absolute;
    top: 25px;
    left: 996px;
}
.shopcar a {
    display: inline-block;
    font-family: 'icomoon';
    width: 140px;
    height: 36px;
    border: 1px solid #dfdfdf;
    font-size: 12px;
    text-align: center;
    line-height: 34px;
    color: #666666;
    background-color: #f7f7f7;
}
.shopcar a:hover {
    color: #c81623
}
.shopcar a::before {
    content: "\e93a";
    color: #c40000;
    padding-right: 5px;
}
.shopcar a::after {
    content: "\e920";
    padding-left: 8px;
}
.shopcar .count {
    position: absolute;
    top: -2px;
    left: 98px;
    width: 14px;
    height: 14px;
    border-radius: 7px 7px 7px 0;
    text-align: center;
    line-height: 14px;
    color: #fff;
    background-color: #c40000;
}

.nav {
    height: 47px;
    font-size: 16px;
    line-height: 47px;
    border-bottom: 2px solid  #c40000;
}
.dropdown {
    float: left;
    width: 210px;
    height: 47px;
    background-color: #b1191a;
}
.dropdown .dt {
    text-align: center;
}
.dropdown .dt a {
    color: #fff;
}
/* .dropdown .dd {
    display: none;
} */
.dd ul li {
    position: relative;
    height: 31.333px;
    font-size: 14px;
    color: #fff;
    padding-left: 9px;
    line-height: 31.333px;
    background-color: #c81623;
}
.dd ul li a {
    color: #fff;
}
.dd ul li:hover {
    border-left: 2px solid #c81623;
    background-color: #f7f7f7;
}
.dd ul li:hover a {
    color: #c81623;
}

.dd ul li::after {
    content: "\e920";
    position: absolute;
    top: 1px;
    right: 10px;
    color: #fff;
    font-family: 'icomoon';
}
.navitems a {
    height: 45px;
    padding: 0 25px;
}
.navitems a:nth-child(1) {
    margin-left: 20px;
}

.footer {
    height: 415px;
    padding-top: 30px;
    margin-top: 20px;
    background-color: #f5f5f5;
}
.footer .mod_service {
    height: 80px;
    border-bottom: 1px solid #ccc;
}
.mod_service ul li {
    float: left;
    width: 240px;
    height: 50px;
    padding-left: 35px;
}
.mod_service ul li h5{
    float: left;
    width: 50px;
    height: 50px;
}
.mod_service ul li:nth-child(1) h5 {
    background: url(../images/icons.png) no-repeat -252px -2px;
}
.mod_service ul li:nth-child(2) h5 {
    background: url(../images/icons.png) no-repeat -254px -53px;
}
.mod_service ul li:nth-child(3) h5 {
    background: url(../images/icons.png) no-repeat -256px -105px;
}
.mod_service ul li:nth-child(4) h5 {
    background: url(../images/icons.png) no-repeat -258px -157px;
}
.mod_service ul li:nth-child(5) h5 {
    background: url(../images/icons.png) no-repeat -260px -208px;
}
.service_text {
    margin: 5px 0 0 60px;
}
.service_text h4 {
    font-size: 14px;
    margin-bottom: 4px;
}
.service_text p {
    font-size: 12px;
}
.mod_help {
    position: relative;
    height: 190px;
    border-bottom: 1px solid #ccc;
    padding-left: 35px;
}
.mod_help dl {
    float: left;
    width: 194px;
    padding: 16px 0;
}
.mod_help dl dt {
    font-size: 14px;
    padding-bottom: 8px;
}
.mod_help dl dd {
    font-size: 12px;
}
.scode dd {
    position: absolute;
    left: 994px;
    top: 50px;
    width: 90px;
    height: 90px;
    background: url(../images/wx_cz.jpg) no-repeat;
}
.scode a {
    position: absolute;
    left: 1003px;
    top: 55px;
    font-size: 12px;
    margin-top: 94px;
}
.mod_about {
    margin: 15px auto;
    font-size: 12px;
    text-align: center;
}
.mod_about ul li {
    display: inline-block;
}
.mod_about ul li a {
    display: block;
    padding: 0 12px;
    height: 12px;
    line-height: 12px;
    border-left: 1px solid #666666;
}
.mod_about ul li:first-child a {
    border-left: 0px solid #ccc;
}
.mod_about p {
    margin-top: 8px;
}