.main {
    height: 480px;
    padding-left: 220px;
    padding-top: 10px;
    box-shadow: 0px 0px 1px 0px #dddd;
}
.focus {
    float: left;
    width: 720px;
    height: 460px;
}
.focus img {
    width: 100%;
    height: 100%;
}
.newsflash {
    float: left;
    width: 250px;
    height: 460px;
    margin-left: 10px;
}
.new_hd {
    width: 250px;
    height: 165px;
    border: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
}
.new_hd h4 {
    height: 32px;
    line-height: 32px;
    padding: 0 15px;
    border-bottom: 1px dotted #e4e4e4;
    font-weight: normal;
}
.new_hd h4 a {
    float: right;
}
.new_hd h4 a::after {
    content: "\e920";
    font-family: 'icomoon';
}
.new_hd p {
    margin-top: 7px;
    padding: 0 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.new_hd p strong {
    margin-right: 10px;
    color: #c81623;
}
.new_bd ul {
    width: 250px;
    height: 213px;
    margin-bottom: 7px;
    font-size: 0;
    text-align: center;
    border: 1px solid #e4e4e4;
    border-top: 0;
}
.new_bd ul li {
    display: inline-block;
    width: 62px;
    height: 71px;
    border: 1px solid #e4e4e4;
    text-align: center;
}
.new_bd ul li a {
    display: block;
    width: 100%;
    height: 100%;
}
.new_bd ul li i {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-top: 14px;
}

.new_bd ul li:nth-child(1) i {
    background: url(../images/icons.png) no-repeat -16px -15px;
}
.new_bd ul li:nth-child(2) i {
    background: url(../images/icons.png) no-repeat -79px -16px;
}
.new_bd ul li:nth-child(3) i {
    background: url(../images/icons.png) no-repeat -140px -16px;
}
.new_bd ul li:nth-child(4) i {
    background: url(../images/icons.png) no-repeat -205px -14px;
}
.new_bd ul li:nth-child(5) i {
    background: url(../images/icons.png) no-repeat -16px -88px;
}
.new_bd ul li:nth-child(6) i {
    background: url(../images/icons.png) no-repeat -79px -88px;
}
.new_bd ul li:nth-child(7) i {
    background: url(../images/icons.png) no-repeat -140px -88px;
}
.new_bd ul li:nth-child(8) i {
    background: url(../images/icons.png) no-repeat -205px -88px;
}
.new_bd ul li:nth-child(9) i {
    background: url(../images/icons.png) no-repeat -16px -158px;
}
.new_bd ul li:nth-child(10) i {
    background: url(../images/icons.png) no-repeat -79px -158px;
}
.new_bd ul li:nth-child(11) i {
    background: url(../images/icons.png) no-repeat -140px -158px;
}
.new_bd ul li:nth-child(12) i {
    background: url(../images/icons.png) no-repeat -205px -158px;
}
.new_bd ul li p {
    font-size: 12px;
    margin-top: 5px;
}
.new_img {
    width: 248px;
    height: 75px;
}
.recom {
    width: 1200px;
    height: 164px;
    margin: 0 auto;
    box-shadow: 0px 0px 1px 0px #dddd;

}
.recom_hd {
    float: left;
    width: 208px;
}
.recom_hd a img {
    width: 208px;
    height: 164px;
}
.recom_bd {
    width: 992px;
    float: left;
}
.recom_bd ul li {
    position: relative;
    float: left;
    width: 248px;
    height: 164px;
    background-color: #ebebeb;
}
.recom_bd ul li a img {
    position: absolute;
    left: 125px;
    top: 25px;
}
.recom_bd ul li a div {
    display: inline-block;
    width: 45px;
    border-radius: 8px;
    text-align: center;
    color: #fff;
    margin: 10px 0 0 20px;
}
.recom_bd ul li a p:nth-child(1) {
    height: 25px;
    margin: 20px 0 5px 20px;
    font-size: 16px;
}
.recom_bd ul li a p:nth-child(2) {
    display: inline-block;
    height: 20px;
    margin-left: 20px;
    font-size: 14px;
    color: #fff;
    background-color: #00a0e8;
}
.recom_bd ul li a p:nth-child(4) {
    height: 20px;
    margin: 2px 0 0 20px;
    font-size: 12px;
}
.recom_bd ul li:nth-child(-n+3):after {
    content: '';
    position: absolute;
    right: 0;
    top: 10px;
    width: 1px;
    height: 144px;
    background-color: #ddd;
}
.recom_bd ul li:nth-child(2) a p:nth-child(2), .recom_bd ul li:nth-child(2) a div {
    background-color: #5fb200;
}
.recom_bd ul li:nth-child(3) a p:nth-child(2), .recom_bd ul li:nth-child(3) a div {
    background-color: #e2162f;
}
.recom_bd ul li:nth-child(4) a p:nth-child(2), .recom_bd ul li:nth-child(4) a div {
    background-color: #0085fb;
}
.recom_bd ul li a:hover {
    color: #666666;
}
.like {
    height: 270px;
    margin-top: 20px;
}
.like_hd {
    height: 30px;
    line-height: 30px;
}
.like_hd h3 {
    float: left;
    font-size: 18px;
    font-weight: normal;
}
.like_hd a {
    float: right;
    font-size: 12px;
    margin-right: 2px;
}
.like_hd a::after {
    content: "\ea2e";
    font-family: 'icomoon';
    margin: 0 8px;
    line-height: 30px;
}
.like_bd ul {
    height: 240px;
    border: 1px solid #e4e4e4;
    box-shadow: 0px 0px 1px 0px #dddd;
}
.like_bd ul li {
    position: relative;
    float: left;
    width: 200px;
    height: 239px;
    text-align: center; 
}
.like_bd ul li:last-child {
    width: 198px;
}
.like_img {
    text-align: center;
}
.like_img a {
    width: 199px;
    height: 155px;
    text-align: center;
    line-height: 155px;
}
.like_bd ul li:nth-child(-n+5)::after {
    content: '';
    position: absolute;
    right: 0;
    top: 160px;
    width: 1px;
    height: 62px;
    background-color: #ddd;
}
.like_bd ul li>a p {
    font-size: 12px;
    margin: 5px 35px;
}
.like_bd ul li a h4 {
    font-size: 14px;
    color: #df3033;
}
.jiadian, .shouji, .diannao {
    height: 478px;
    margin-top: 25px;
    /* background-color: pink; */
}
.jiadian_hd, .shouji_hd, .diannao_hd {
    height: 32px;
    border-bottom: 2px solid #c81623;
    line-height: 30px;
    font-size: 12px;
    font-weight: normal;
}
.jiadian_hd h4, .shouji_hd h4, .diannao_hd h4 {
    float: left;
    font-size: 18px;
    color: #c81623;
}
.jiadian_hd ul li, .shouji_hd ul li, .diannao_hd ul li {
    position: relative;
    float: left;
}
.jiadian_hd ul li a, .shouji_hd ul li a, .diannao_hd ul li a {
    display: block;
    padding: 0 15px;
}
.jiadian_hd ul, .shouji_hd ul, .diannao_hd ul {
    float: right;
}
.jiadian_hd ul li:first-child a, .shouji_hd ul li:first-child a, .diannao_hd ul li:first-child a {
    color: #c81623;
}
.jiadian_hd ul li:nth-child(-n+8)::after, .shouji_hd ul li:nth-child(-n+8)::after, .diannao_hd ul li:nth-child(-n+8)::after {
    content: "";
    position: absolute;
    top: 8px;
    right: 0;
    width: 1px;
    height: 15px;
    background-color:  #dddd;
}
.jiadian_bd, .shouji_bd, .diannao_bd {
    float: left;
    height: 360px;
    box-shadow: 0px 0px 1px 0px #dddd;

}
.col_210 {
    float: left;
    width: 210px;
    height: 360px;
    text-align: center;
    background-color: #f9f9f9;
}
.col_210 ul {
    margin: 0 10px;
    padding-top: 5px;
}
.col_210 ul li {
    display: inline-block;
    width: 75px;
    height: 32px;
    margin: 0 8px;
    line-height: 32px;
    border-bottom: 1px solid #dddd;
}
.col_210 ul li a {
    display: block;
    width: 100%;
    height: 100%;
}
.col_210 a h3 {
    display: inline-block;
    margin-top: 24px;
    font-size: 18px;
    font-weight: normal;
    color: #c81623;
}
.col_210 a p {
    margin-top: 2px;
    font-size: 12px;
    color: #c81623;
}
.col_210 a img {
    margin-top: 20px;
}
.col_330 {
    position: relative;
    float: left;
    width: 330px;
    height: 360px;
}
.col_330 a img {
    width: 100%;
    height: 100%;
}
.col_330 a h3 {
    position: absolute;
    top: 28px;
    left: 30px;
    font-size: 18px;
    font-weight: normal;
    color: #066c7d;
}
.col_330 a p {
    position: absolute;
    top: 53px;
    left: 30px;
    font-size: 16px;
    color: #066c7d;
}
.shouji_bd .col_330 a h3, .shouji_bd .col_330 a p {
    color: #4c852a;
}
.diannao_bd .col_330 a h3, .diannao_bd .col_330 a p {
    color: #874d75;
}
.col_221, .col_220 {
    float: left;
}
.col_220 ul li a {
    position: relative;
    display: block;
    width: 220px;
    height: 180px;
    border-bottom: 1px solid #dddd;
}
.col_220 ul li a h4 {
    font-size: 16px;
    font-weight: normal;
    padding: 20px 20px 0 20px;
}
.col_220 ul li a p {
    font-size: 14px;
    padding: 2px 0 0 20px;
    color: #c81623;
}
.col_220 ul li a img {
    position: absolute;
    right: 0;
    bottom: 0;
}
.col_221 a, .col_220 ul li a:hover {
    color: #666666;
}
.col_221 a {
    display: block;
    width: 220px;
    height: 360px;
    text-align: center;
    border: 1px solid #dddd;
    border-top: none;
}
.col_221 a h4 {
    padding-top: 65px;
    font-size: 18px;
    font-weight: normal;
    color: #666666;
}
.col_221 a p {
    margin-top: 2px;
    font-size: 16px;
    color: #bbbbbb;
    z-index: 1;
}
.col_221 a img {
    margin-top: 60px;
}
.jiadian .col_220:last-child ul li a, .shouji .col_220:last-child ul li a, .diannao .col_220:last-child ul li a {
    border-right: 1px solid #dddd;
}
.jiadian_fd img, .shouji_fd img, .diannao_fd img {
    margin-top: 20px;
    box-shadow: 0px 0px 1px .5px #dddd;
}

.hot_recom {
    height: 320px;
    margin-top: 20px;
}
.hot_hd h4 {
    height: 35px;
    line-height: 35px;
    font-size: 18px;
    font-weight: normal;
}
.hot_bd {
    height: 285px;
}
.hot_240 {
    float: left;
}
.hot_240 a {
    display: block;
    width: 240px;
    height: 285px;
    text-align: center;
    border: 1px solid #e5e5e5;
}
.hot_240 a img {
    margin-top: 40px;
}
.hot_240 a p {
    font-size: 14px;
    margin-top: 30px;
}
.hot_240 a i {
    display: block;
    font-size: 14px;
    margin-top: 5px;
    color: #df3033;
}
.hot_220 {
    float: left;
    border: 1px solid #e5e5e5;
    border-left: none;
}
.hot_220 ul li a {
    display: block;
    width: 220px;
    height: 141px;
}
.hot_220 ul li:first-child {
    border-bottom: 1px solid #e5e5e5;
}
.hot_220 ul li a div {
    float: left;
    width: 110px;
    margin-left: 10px;
    line-height: 140px;
}
.hot_220 ul li a p {
    padding-top: 30px;
    font-size: 12px;
}
.hot_220 ul li a i {
    font-size: 14px;
    color: #df3033;
}
.hot_300 {
    position: relative;
    float: left;
    width: 297px;
    height: 285px;
    border: 1px solid #e5e5e5;
    border-left: none;
}
.hot_300 img {
    position: absolute;
    top: 15px;
    left: 15px;
}